<div id="main-wrapper">

    <app-header></app-header>
  
    <app-sidebar></app-sidebar>
  
    <div class="page-wrapper">
      
      <div class="container-fluid">
  
        <!--sistema de rutas-->
        <app-breadcrumbs></app-breadcrumbs>
  
        <!--contenido de pagina-->
        <router-outlet></router-outlet>
                  <!-- ============================================================== -->
                  <!-- Start Page Content -->
                  <!-- ============================================================== -->
                
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
  
      </div>
  
      <footer class="footer">
        © 2017 Admin Pro by wrappixel.com
      </footer>
  
    </div>
  
</div>

<app-modal-images></app-modal-images>