/* You can add global styles to this file, and also import other style files */
#buttongoogle{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.cursor{
    cursor: pointer;
}

.img-avatar{
    width: 400px;
    height: 200px;
}

.w100{
    width: 100px;
}

.w50{
    width: 50px;
    border-radius: 100%;
}

.w200{
width: 150px;
}

.fondoModalImg{
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.oculto{
    display: none;
}